@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    margin: 0;
  }
  
  #background {
     position: fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     z-index:-1; /* 추가된 부분 */
  }
  
  #overlay {
     position: fixed;
     top:0;
     left:0;
     width:100%;
     height:100%;
     background-color:#000000; /* 검은색 */
     opacity:.5; /* 투명도 설정 */
  }
  
  #content {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      text-align:center;
  }
  
  #title {
      color:#FFFFFF; /* 흰색 */
  }
  
  #countdown {
      font-size:3em; /* 폰트 사이즈 조정 */
    color: #fff;
    font-weight:600;
}
  
*{

    font-family: 'Nanum Gothic', sans-serif;
}